<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Rayv needs access to your location</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7-ea</string>
	<key>CFBundleDisplayName</key>
	<string>Taste 5</string>
	<key>CFBundleIdentifier</key>
	<string>com.blueorbit.rayvios</string>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage-1.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons-3.appiconset</string>
	<key>CFBundleVersion</key>
	<string>ea</string>
</dict>
</plist>
